body {
  background: #d1d5db;
  height: 100vh;
  overflow-y: hidden;
}

.search-bar {
  height: 80vh;
}

/* .search-bar {
  padding-top: 80px;
} */

form {
  position: relative;
}

form .leftIcon {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
  cursor: pointer;
}


.left-pan {
 padding-left: 17px;
}

form input{
  height: 55px;
  /* text-indent: 45px; */
  border-radius: 10px;
  margin-left: 2px;
  overflow: auto;
}

.form-input:focus{
  box-shadow: none;
  border:none;
}

input {
  box-sizing: border-box;
  padding-left: 60px !important;
  padding-right: 70px !important;
}

.resultDiv {
  padding-bottom: 80px;
}

@keyframes fadeOut { 
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@keyframes fadeIn { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.start-transparent {
  opacity: 0;
}

.fadeOut {
  opacity: 0;
  animation: fadeOut 1s;
}

.fadeIn {
  opacity: 1;
  animation: fadeIn 1s;
}