.main {
    /* height: 80%; */
    background-image: linear-gradient(
        rgba(0, 0, 0, 1), 
        rgba(0, 0, 0, 0.5)
      ),
      url("../media/mind-blown-amazed.gif");
    background-size: cover;
}

.headerContent {
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    font-size: 46px;
}

.smallText {
    font-size: 20px;
}
